.search-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .search-icon {
    margin-right: -35px;
    color: lightgray;
    z-index: 1;
  }
  .search-field {
    width: 250px;
    height: 40px;
    padding: 0px 40px;
    color: #3b2d64;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .search-btn {
    margin-left: -5px;
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(0, 30, 128);
    color: white;
    cursor: pointer;
  }